<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130380717704-8smg3dsqahs2r3k85sau19ckf07gsptk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130380717704-8smg3dsqahs2r3k85sau19ckf07gsptk</string>
	<key>API_KEY</key>
	<string>AIzaSyAk4EPoMVDTKP4JbD0Hkpvbdxzh-5YDHsU</string>
	<key>GCM_SENDER_ID</key>
	<string>130380717704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bayanihanNews</string>
	<key>PROJECT_ID</key>
	<string>bayanihan-news</string>
	<key>STORAGE_BUCKET</key>
	<string>bayanihan-news.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130380717704:ios:6ad850059982f18fae893d</string>
	<key>DATABASE_URL</key>
	<string>https://bayanihan-news.firebaseio.com</string>
</dict>
</plist>